html{
  height:100%;
}
head{
  color: white;
  text-align: center;
}
body{
    /* background-color: #abdebc; */
    /* background-color: 	#4a6741; */
    background-color:#4F7942;
    /* background-image: url('../assets/images/beach.JPG'); */
    /* background-image: url('../assets/images/steki.png'); */
    height : 100%;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    

    /* padding-top:30%;  */
    }
h1{
    color:bisque;
    text-align: center;
    /* font-family: 'Coolvetica';  */
    /* font-family: 'La Belle Aurore', cursive; */
    /* font-weight: 400; */
    font-weight: 1200;
    font-family: sans-serif;
    font-size: 40pt;
    letter-spacing: 3px;
    padding-top:3%; 

}
h2 {
    /* color: #8d8d8d; */
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 100%;
    /* font-size: 18px; */
    font-family: sans-serif;
    letter-spacing: 3px;
  }
  h3{
    text-align: center;
    font-style: italic;
    padding-top: 1%;
    font-family: sans-serif;
  }
  a:visited { 
    text-decoration: none; 
    color: white; 
   }
  a:hover { text-decoration: none; color:yellow; }
  a:focus { text-decoration: none; color:orange; }
  a:active { text-decoration: none; color:teal; }

  .float-container {
    /* border: 3px solid #fff; */
    padding: 2%;
    padding-left: 14%;
    padding-top: 3%;
    width:100%;
    text-align: center;
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    
    /* display: flex;
    flex-flow: column-reverse; */
    
}

.float-child {
    width: 42%;
    height: auto;
    float: left;

    font-size: 1.5vw;
    text-align:center;
    /* font-weight: 500; */
    letter-spacing:.2mm;
    /* font-family:sans-serif; */
    /* font-size:150%; */
    font-weight:bold;
    align-items: center;

  
}  
@media screen and (max-width: 531px) {
  .float-container { 
    display: flex; 
    flex-flow: column; 
    text-align: center; 
    align-items: center;
    font-size: small;
    width:100%;
  }

}

img {
  width: 80%;
  height: auto;
  border: 5px solid white;
}
img.brand{
  width:50px;
  border:none;
  align-items: center;
  padding-top:1%;
}