h1{
    text-align: center;
    font-weight: 1200;
    font-size: 30pt;
    padding-top:3%; 

}
h2 {
    text-align: center;
    margin-top: 20px;
    font-weight: 100%;
  }
  h3{
    text-align: center;
    font-style: italic;
    padding-top: 1%;
  }

  .float-container {
    padding: 2%;
    padding-left: 14%;
    padding-top: 3%;
    width:100%;
    text-align: center;
    
}

.float-child {
    width: 42%;
    height: auto;
    float: left;

    font-size: 1.3vw;
    text-align:center;
    align-items: center;

  
}  
@media screen and (max-width: 531px) {
  .float-container { 
    display: flex; 
    flex-flow: column; 
    text-align: center; 
    align-items: center;
    font-size: small;
    width:100%;
  }

}

img {
  width: 80%;
  height: auto;
  border: 5px solid white;
}
img.brand{
  width:50px;
  border:none;
  align-items: center;
  padding-top:1%;
}