.grid {
	/* background-color: #eee; */
	width: 1000px;
	margin: 15px auto;
	margin-left:50px;
	display: grid;
	grid-template-rows: 250px 250px 250px;
	grid-template-columns: 430px 900px;
	
	/* //grid-row-gap: 30px;
	//grid-column-gap: 30px; */
   
	/* grid-gap: 30px; */
    grid-row-gap: 5x;
    
}
.proj_ss{
    width:350px;
    border:3px solid bisque;
}
.box {
	padding: 20px;
	font-size: 20px;
	/* font-family: sans-serif; */
    overflow: hidden;
    
}