html{
  font-size: 100.5%;
  margin: auto;
  overflow:scroll;
}

body {
  margin: 0;
  /* font-family: 300 14px/3 'Helvetica Neue', 'sans-serif'; */
  font-family: 'Times New Roman', Times, serif;
  color: white;
  background: #022c43;
  overflow: scroll;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

