* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 100.5%;
  margin: auto;
  overflow:scroll;
}

body {
  font-family:sans-serif;
  background-color: rgb(163, 201, 235);
  overflow: scroll;
  display: block;
}

